.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.testimony-container {
    max-width: 1170px;
    max-height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 9%);
}

.imgTestimony {
    height: 100%;
}